/*table {
    text-align: right;
}

.zebra tr:nth-child(even) {
    background-color: #a6a6a6;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    padding-left: 20px;
}

.total {
    background-color: #005cbf;
    color: white;
}
td {

}*/
body {
    background-color: #333333;
}
table.blueTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
/*    width: 100%;*/
    text-align: left;
    border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
    /*border: 1px solid #AAAAAA;*/
    padding: 3px;
}
table.blueTable .paddingLeft {
    padding-left: 15px;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tbody .textRight {
    text-align: right;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #333333;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #1C6EA4;
    border-top: 2px solid #444444;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}